# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
pickle

#routing
networkx
osmnx

#web app
streamlit
folium

# utilities
six>=1.14
#joblib
#memoized-property
#termcolor
